doctype html
html
  head
    //- # hash makes the string in curly braces to be treated as javascript
    title Natours | #{tour}
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
  
  body
    //- = double slashes make the string to be treated as javascript
    h1= tour
    h2= user.toUpperCase()
    //- comment that does not get rendered on the web page as a comment
    // simple comment
    - const x = 9;
    h2= 2 * x
    p This is test text